.flash-cardon-word.unknown {
    background-color: #fff37385;
}
#flash-cardon-summary {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #cecece;
}
#flash-cardon-summary:hover {
    color: #000;
    background-color: white;
}
#flash-cardon-frequency{
    white-space: pre;
    position: fixed;
    padding: 0 .4em;
    bottom: 2em;
    right: 10px;
    color: #cecece;
    text-align: right;
}

#flash-cardon-frequency:hover {
    color: #000;
    background-color: white;
}
