.flash-cardon-word.unknown {
    background-color: #fff37385;
}
#flash-cardon-summary {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #cecece;
}
#flash-cardon-summary:hover {
    color: #000;
}