.flash-cardon-word.unknown {
    background-color: #fff37385;
}
#flash-cardon-summary{
    white-space: pre;
    position: fixed;
    padding: 0 .4em;
    bottom: 1em;
    right: 1em;
    color: #cecece;
    text-align: right;
}
#flash-cardon-summary:hover {
    color: #000;
    background-color: white;
}
